# Ignore node_modules
node_modules/

# Ignore git and local environment files
.git
.gitignore
.env
.env.example

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore temporary and test files
test_active.js
testSearch.js
test_featured_shops.js
reports/
benchmarks/
uploads/*
!uploads/.gitkeep

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore media files
*.mp4
*.png
*.jpg
*.jpeg
*.gif
*.svg
