# Node
node_modules/

# Environment files
.env
.env.example
seedAdmin.js

# Uploads / user-generated content
backend/uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.mp4

# OS
.DS_Store
Thumbs.db
