# Ignore local node packages and temp folders
node_modules
.expo
.git

# Ignore local Android build caches and outputs (resolves EPERM file locking errors on Windows)
android/.gradle
android/build
android/app/build
android/local.properties
android/*.aar
android/*.apk

# Ignore local iOS build caches
ios/build
ios/Pods
ios/.xcode.env.local