# EAS ignore for the admin app
# Ignore everything outside of this folder and unrelated internal files
../barber-app/
../barber-pwa/
../backend/
../customer-app/
../main-website/
../.github/

node_modules/
.expo/
*.log
